p {
  text-align: left;
  font-weight: bolder;
}


body {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: #E8F6F7;
}

span {
  margin-left: 10px;
  margin-right: 10px;
}

.font_style {
  font-weight: bolder;
}

.title {
  position: fixed;
  margin-left: auto;
  left: 25%;
  margin-top: 50px;
  font-weight: bolder;
  font-size: 100px;
  padding: 10px;
  border-radius: 10px;
  /*color: white;*/
  text-shadow: 4px 4px 7px rgba(0,0,0,0.75);
}


.nav_header {
  background-color: white;
  display: inline-flex;
  postion: static;
  width: 100%;
  height: 100px;
  box-shadow: 0px 10px 14px -6px rgba(150, 150, 150, 1);
}

.login_password {
  float: left;
  height: 50px;
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.row {
  display: inline-flex;
  position: relative;

}

.field {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

.big_sign_up {
  position: fixed;
  margin-left: 100px;
  left: 22%;
  margin-top: 50px;
}

.sign_up {
  border-radius: 10px;
  padding: 30px 30px 30px 30px;
  background-color: white;
  float: right;
  position: static;
  margin-top: 200px;
  margin-right: 200px;
  box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.75);
}

.forgot_password {
  margin-left: 5px;
  padding-right: 200px;
}

.sign_out {
  float: right;
  border: solid black 2px;
}

.profile_navbar {
  font-size: 15px;
  background-color: white;
  box-shadow: 10px 0px 14px -6px rgba(0,0,0,0.75);
  float: left;
  position: fixed;
  max-width: 255px;
  min-width: 255px;
  max-height: 255px;
  min-height: 200px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 70%;
}
.title_profile {
  position: static;
}

.title_pillbox {
  position: static;
  margin-bottom: 30px;
}

.profile_pillbox {
  margin-left: 10px;
}

.row_pillbox {
  overflow: auto;
}

.big_pillbox {
  margin-left: 280px;
  margin-right:20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  position: static;
}

.title_physician {
  position: static;
  margin-bottom: 30px;
}

.profile_physician {
  margin-left: 10px;
}

.row_physician {
  overflow: auto;
}

.big_physician {
  margin-left: 280px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  position: static;
}

.physician_navbar {
  font-size: 15px;
  background-color: white;
  box-shadow: 10px 0px 14px -6px rgba(0,0,0,0.75);
  float: left;
  overflow: auto;
  position: fixed;
  max-width: 255px;
  min-width: 255px;
  max-height: 255px;
  min-height: 200px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 50%;
}

.big_create_pillbox {
  float: right;
  position: static;
  margin-left: 100px;
  margin-top: 50px;
}

.pillbox_navbar {
  font-size: 15px;
  background-color: white;
  box-shadow: 10px 0px 14px -6px rgba(0,0,0,0.75);
  float: left;
  overflow: auto;
  position: fixed;
  max-width: 255px;
  min-width: 255px;
  max-height: 255px;
  min-height: 200px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 100%;
}

.big_create_physician {
  float: right;
  position: static;
  margin-left: 100px;
  margin-top: 50px;
}

.border {
  border: solid black 1px;
  display: inline-block;
}
