p {
  text-align: left;
  margin-left: 50px;
  margin-right: 500px;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

span {
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  float: left;
  margin-left: 50px;
}

.login_password {
  float: right;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
}
.container {
  float: right;
  margin-top: 100px;
}

.row {
  display: inline-flex;
  float: left;
  margin: 3px 3px 3px 3px;
}

.field {
  margin-left: 5px;
  margin-right: 5px;
}

.sign_up {
  float: right;
  /*display: block;*/
  position: relative;
  /*border: solid black 2px;*/
  margin-top: 100px;
  margin-right: 200px;
}

.forgot_password {
  margin-left: 5px;
  padding-right: 200px;
}

.sign_out {
  float: right;
  border: solid black 2px;
}

.nav_header {
  display: inline-flex;
  postion: fixed;
  float: right;
  white-space: normal;
}

.profile_navbar {
  float: left;
  overflow: auto;
  max-width: 255px;
  min-width: 255px;
  max-height: 255px;
  min-height: 200px;
  border: solid black 2px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 100%;
}

.title_pillbox {
  padding-left: 15px;
  overflow: auto;
}
.row_pillbox {
  overflow: auto;
}

.big_pillbox {
  margin-left: 260px;
  border: solid black 2px;
}

.title_physician {
  padding-left: 15px;
  overflow: auto;
}
.row_physician {

  overflow: auto;
}

.big_physician {
  margin-left: 260px;
  border: solid black 2px;
}

.physician_navbar {
  float: left;
  display: inline-block;
  max-width: 255px;
  min-width: 255px;
  border: solid black 2px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 100%;
}

.pillbox_navbar {
  float: left;
  display: inline-block;
  max-width: 255px;
  min-width: 255px;
  border: solid black 2px;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 100%;
}

.border {
  border: solid black 1px;
  display: inline-block;
}



.test {
  border: solid black 1px;
}

.one {
  border: solid red 1px;
}
